<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign Up</title>
    <link rel="stylesheet" href="/login_signup.css">
</head>
<body>
    <h2 >Join With US</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form name="regform" onchange="return Validation1()" method="POST" action="/velvethomes/signup">
			<h1>Create Account</h1>
			<input type="text" id="namec" placeholder="Name" name="name">
			<span class="regemailver">Enter Valid Email Address.</span>
			<input type="email" id="emailc" placeholder="Email" name="email"/>
			<span class="regpassver">Enter minimum eight characters, at least one Uppercase and one Lowercase letter, one number and one special character:.</span>
			<input type="password" id="passwordc" placeholder="Password" name="password"/>
			<span class="regagever">Max length is 10</span>
            <input type="number" id="phonec" placeholder="Phone Number" name="phoneno">
            <input type="text" id="addressc" placeholder="Address" name="address">
            <input type="number" id="pincodec" placeholder="Pincode" name="pincode" >
			<input type="url" id="image" name="image" placeholder="Enter Profile Image Url">
			<button id="signupbtn" type="submit">Sign Up</button>
		</form>  
	</div>
	<div class="form-container sign-in-container">
		<form name="logform" onchange="return Validation2()" method="POST" action="/velvethomes/login">  
			<h1>Sign in</h1>
			<span class="logemailver">Enter Valid Email Address.</span>
			<% if(error == 1){ %>
				<span class="logcheck">Please enter Valid Credentials.</span>
			<% }else{ %>
				<span class="logcheck"></span>
				<% } %>
			<input type="email" id="emaill" name="email">
			<input type="password" id="passwordl"  name="password">    
			<button  id="signinbtn">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friends</h1>
				<p>Enter Your Details and Start Healthy journey with us.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div> 
</div>
<a href="/seller/login"><div class="dash-button">Login As Seller</div></a>
<a href="/admin/login"><div class="dash-button">Login As Admin</div></a>

<script src="/login_signup.js"></script>
</body>
</html>