<div class="footer">
    <div class="foot-social">
        <div class="foot-social-des">Get Connected With Us On Social Networks : -</div>
        <div class="imogi-con">
            <img src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png" alt="" class="imogi">
            <img src="https://cdn-icons-png.flaticon.com/512/2504/2504947.png" alt="" class="imogi">
            <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png" alt="" class="imogi">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="" class="imogi">
            <img src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="" class="imogi">
        </div>
    </div>
    <div class="footer-main">
        <div class="foot-des">
            <a href="/velvethomes">
                <div class="foot-head">Velvet Homes</div>
            </a>
            <div class="foot-con-des">
                Velvet Homes website is an online platform that specializes in selling home decor, furniture, and
                other
                interior design
                products to
                customers.
            </div>
        </div>
        <div class="foot-products">
            <div class="foot-head">Products</div>
            <div class="foot-con">
                <a href="/velvethomes/prodsubcat/tile">
                    <div class="foot-con-pro">Tiles</div>
                </a>
                <a href="/velvethomes/prodsubcat/furniture">
                    <div class="foot-con-pro">Furniture</div>
                </a>
                <a href="/velvethomes/prodsubcat/sanitary">
                    <div class="foot-con-pro">Sanitary</div>
                </a>
                <a href="/velvethomes/prodsubcat/artifacts/6443b0f9beadc2f7c0bf035a">
                    <div class="foot-con-pro">Artifacts</div>
                </a>
                <a href="/velvethomes/prodsubcat/paints/6443b0f9beadc2f7c0bf035a">
                    <div class="foot-con-pro">Paints</div>
                </a>
            </div>
        </div>
        <div class="foot-products">
            <div class="foot-head">Useful Links</div>
            <div class="foot-con">
                <a href="/velvethomes/cart">
                    <div class="foot-con-pro">Go To Cart</div>
                </a>
                <a href="/velvethomes/pinfo">
                    <div class="foot-con-pro">Account</div>
                </a>
                <a href="/velvethomes/pinfo">
                    <div class="foot-con-pro">Recent Orders</div>
                </a>
            </div>
        </div>
        <div class="foot-img-con">
            <img src="https://media.istockphoto.com/id/1150545984/photo/upscale-modern-mansion-with-pool.jpg?s=612x612&w=0&k=20&c=JT7qSGgmlGfiNiqJE2jw6rYwRcYCj9KBs7i2Rmyyypo="
                alt="">
        </div>
    </div>
    <div class="foot-contact">
        <div class="foot-head">Contact Us</div>
        <div class="foot-con">
            <div class="foot-con-cont">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135786.png" alt="" class="imogi">
                <div class="foot-con-des">New Delhi, India - 110075</div>
            </div>
            <div class="foot-con-cont">
                <img src="https://cdn-icons-png.flaticon.com/512/893/893257.png" alt="" class="imogi">
                <div class="foot-con-des">customervelvethomes@gmail.com</div>
            </div>
            <div class="foot-con-cont">
                <img src="https://cdn-icons-png.flaticon.com/512/724/724664.png" alt="" class="imogi">
                <div class="foot-con-des">+91-9032156478</div>
            </div>
        </div>
    </div>

</div>
</body>

</html>