<header class="header">
    <div class="header-container">
        <div class="header-row v-center">
            <div class="header-item item-left">
            </div>
            <div class="header-item item-center">
                <div class="menu-overlay"></div>
                <nav class="menu">
                    <div class="mobile-menu-head">
                        <div class="go-back"><i class="fi-xnslxl-chevron-solid"></i></div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="menu-main">
                        <li class="menu-item-with-children">
                            <a href="/velvethomes/prodsubcat/tile" class="main-items">Tiles <i class="fi-xwsdxl-chevron-wide"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <h4 class="title">Floor Tiles</h4>
                                    <ul>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b3372038858d">Bedroom Floor Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b3372038858f">Living Room Floor Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b33720388590">Kitchen Floor Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b3372038858d">Bathroom Floor Tiles</a></li>
                                    </ul>
                                </div>

                                <div class="list-item">
                                    <h4 class="title">Wall Tiles</h4>
                                    <ul>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b33720388591">Bedroom Wall Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b33720388593">Living Wall Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b33720388594">Kitchen Wall Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile/6443da7254e4b33720388592">Bathroom Wall Tiles</a></li>
                                        <li><a href="/velvethomes/prodsubcat/tile" class="view-more">View All Tiles</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="https://www.kattaceramics.in/wp-content/uploads/2022/06/best-vitrified-tiles.jpg"
                                        alt="Venues">
                                </div>
                            </div>
                        </li>
                        <li class="menu-item-with-children">
                            <a href="/velvethomes/prodsubcat/furniture" class="main-items">Furniture <i class="fi-xwsdxl-chevron-wide"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <ul>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112653">Beds</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112654">Tables</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112658">Cabinets</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112659">Shoes Storage</a></li>
                                    </ul>
                                </div>

                                <div class="list-item">
                                    <ul>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112652">Sofa</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112655">Chairs</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112656">Almirah</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture/6442c7605752a70cdc112657">Dinning Tables</a></li>
                                        <li><a href="/velvethomes/prodsubcat/furniture" class="view-more">View All Furnitures</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/2/DK/UC/JV/98598871/anh-designer-red-sofa-set-500x500.jpeg"
                                        alt="Venues">
                                </div>
                            </div>
                        </li>
                        <li class="menu-item-with-children">
                            <a href="/velvethomes/prodsubcat/sanitary" class="main-items">Sanitary <i class="fi-xwsdxl-chevron-wide"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <ul>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d1a">Taps</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d20">Toilets</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d19">Showers</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d1b">Bath-tubs</a></li>
                                    </ul>
                                </div>

                                <div class="list-item">
                                    <ul>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d1e">Kitchen-Sinks</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d1c">Wash Basins</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d1f">Urinals</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary/6443aedcef840d5371db7d1d">Bathroom Accessories</a></li>
                                        <li><a href="/velvethomes/prodsubcat/sanitary" class="view-more">View All Sanitary Items</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="https://www.oppeinhome.com/upload/image/product/thumb/20210903/bathroom-vanity-PLWY21113-1.jpg"
                                        alt="Venues">
                                </div>
                            </div>
                        </li>


                        <li>
                            <a href="/velvethomes/prodsubcat/artifacts/6443b0f9beadc2f7c0bf035a" class="main-items">Artifacts</a>
                        </li>
                        <li>
                            <a href="/velvethomes/prodsubcat/paints/6443b0f9beadc2f7c0bf035a" class="main-items">Paints</a>
                        </li>

                        <li class="buttons">
                            <a href="/velvethomes/pinfo" class="button"><span></span>
                                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="logo-icon"
                                    alt="">
                                My Account</a>
                            <a href="/velvethomes/cart" class="button"><span></span><img
                                    src="https://cdn-icons-png.flaticon.com/512/8181/8181590.png" class="logo-icon"
                                    alt="">Cart</a>
                            <a href="/velvethomes/header/login_logout" class="button"><span></span>
                                <img src="https://cdn-icons-png.flaticon.com/512/3649/3649775.png" class="logo-icon"
                                    alt="">login/out</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="mobile-menu-trigger">
                <span></span>
            </div>
        </div>
    </div>
</header>